* {
    margin: 0%;
    /* box-sizing: border-box; Add box-sizing property */
  }
  
  header {
    background: #979191;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
  }
  
  .user-actions {
    display: flex; /* Adjust the display */
    flex-wrap: wrap; /* Allow items to wrap */
  }
  
  .user-actions a {
    margin: 5px; /* Add margin for spacing */
    padding: 8px 16px;
    background: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .user-actions a:hover {
    background: #ddd;
  }

  /* landing page  */
  .flex{
    display: flex;
  }
  .flex h1{
    padding: 1rem;
    font-size: 4rem;
  }
  .flex p{
    padding: .5rem;
    font-size: 1.5rem;
  }
  .p1{
    /* background: url(images/21.png); */
    /* height: 50vh;
    width: max-content; */
    float: right-top;
    /* background-color: rgb(54, 52, 49); */
  }
  .text p{
    display: inline-block;
    max-width: 45vw;
    /* float: left; */
  }
/* get started  */
  .btn{
    text-align: center;
    height: 6vh;
    width: auto;
    background-color: #fff;
  }
  
  .btn1{
    color: rgb(31, 32, 32);
    text-decoration: none;
    background-color: #0bf163;
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 8%;
    /* height: 6vh; */
    /* text-align: center; */
   } 
   /* get started end  */
  .about h1{
    padding: 1rem;
    font-size: 3rem;
    /* align-items: center; */
    text-align: center;
  }
  .about p{
    padding: .5rem;
    font-size: 1.2rem;
  }
  /* fotter start  */
  .foter{
    /* display: flex; */
    padding: .5rem;
    text-align: center;
    background-color: #979191;
    height: 4vh;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  